<div id="choose-project" class="flex-col" style="display: flex">
  <h2 id="project-heading">Choose Your Project</h2>
  <div id="project-choices" class="flex-row">
    <div class="project-choice flex-col" id="countertop-project">
      <!-- <img class="project-choice__video"
          src="https://cdn11.bigcommerce.com/s-fy21dwtsxg/images/stencil/original/image-manager/scc-whitecountertops-category-650x560.jpg?t=1698356004" /> -->
      <div class="project-choice__video">
        <iframe
          width="432"
          height="243"
          src="https://www.youtube.com/embed/S5i975LL8Gs?si=jok5TaGu9OgYUQW_"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <h3 class="project-choice__title">Countertop</h3>
      <p class="project-choice__description">
        Looking to remodel your kitchen or renovate your home's countertops? Discover the revolutionary leader in epoxy
        countertops and resin woodworking - Stone Coat Countertops! Our high-quality, scratch-resistant, heat-resistant,
        impact-resistant, and zero VOC! Stone Epoxy Countertops are designed to withstand everything your family
        encounters. From hot plates and accidental falls to scrapes and scratches, our epoxy countertop products are
        built to last. Create something extraordinary with Stone Coat Countertops. Start your project today!
      </p>
      <button class="start-project button button--primary" data-project="Countertop" title="Start a countertop project">
        Start My Project
      </button>
    </div>
    <div class="project-choice flex-col disabled">
      <img
        class="project-choice__video"
        src="https://cdn11.bigcommerce.com/s-fy21dwtsxg/images/stencil/original/image-manager/scc-showerwall-cat-320x650.jpg?t=1699652653"
      />
      <h3 class="project-choice__title">Shower</h3>
      <p class="project-choice__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tellus elementum sagittis vitae et leo duis ut. Ac tortor vitae purus faucibus ornare suspendisse
        sed nisi lacus. Non tellus orci ac auctor.
      </p>
    </div>
    <div class="project-choice flex-col disabled">
      <img
        class="project-choice__video"
        src="https://cdn11.bigcommerce.com/s-fy21dwtsxg/images/stencil/original/image-manager/scc-marbleflooring-category-528x235.jpg?t=1698355683"
      />
      <h3 class="project-choice__title">Flooring</h3>
      <p class="project-choice__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tellus elementum sagittis vitae et leo duis ut. Ac tortor vitae purus faucibus ornare suspendisse
        sed nisi lacus. Non tellus orci ac auctor.
      </p>
    </div>
  </div>
</div>
