<div id="calculator-head">
  <div id="project-type"></div>
  <div id="progress-bar" class="flex-row center-content">
    <div class="flex-col center-content">
      <div class="progress-bar-circle flex-row center-content current-step" data-step="1">1</div>
      <span class="step-title">Footage</span>
    </div>
    <div class="flex-col center-content">
      <div class="progress-bar-circle flex-row center-content" data-step="2">2</div>
      <span class="step-title">Color</span>
    </div>
    <div class="flex-col center-content">
      <div class="progress-bar-circle flex-row center-content" data-step="3">3</div>
      <span class="step-title">Surface</span>
    </div>
    <div class="flex-col center-content">
      <div class="progress-bar-circle flex-row center-content" data-step="4">4</div>
      <span class="step-title">Finish</span>
    </div>
    <div class="flex-col center-content">
      <div class="progress-bar-circle flex-row center-content" data-step="5">5</div>
      <span class="step-title">Results</span>
    </div>
  </div>
  <button id="previous" class="back-button calculator-button">Go Back</button>
</div>
