.modal-content {
  flex-direction: column !important;
}

.product-container  {
  th {
    background-color: #fff !important;
  }
}

.cart-item-name .bundledFlag {
  color: red !important;
  font-size: 14px;
}

.cart-item {
  position: relative;
}

.cart-item-remove {
  position: relative;
  min-width: 120px;
}

.remove-bundle {
  background: #fdb819;
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 118px;
  border: 1px solid #fdb819;

  &:hover {
    background: transparent;
  }

  @media only screen and (max-width: 800px) {
    top: 100%;
    transform: unset;
  }

  @media only screen and (max-width: 550px) {
    top: 20px;
    position: relative;
    left: calc(100% - 118px);
  }
}
